GEMINI_API_KEY=<GEMINI_API_KEY>

ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

PHYLAX_SMART_ACCOUNT_ADDRESS=
PHYLAX_AI_SESSION_PRIVATE_KEY=
USDC_ADDRESS=0x95074947def59a6860486437B62E1795cC105fDa