# Optional existing infra
ENTRY_POINT_ADDRESS=
BILLING_TOKEN_ADDRESS=

# Billing config
TOKEN_PER_NATIVE_TOKEN=3000000000
MARKUP_BPS=500

# Optional paymaster setup
INITIAL_PAYMASTER_DEPOSIT=0
INITIAL_PAYMASTER_STAKE=0
PAYMASTER_UNSTAKE_DELAY=86400
PAYMASTER_OWNER=

# Optional mock token mint
MOCK_USDC_MINT_RECIPIENT=
INITIAL_MOCK_USDC_MINT=0
